img {
    height: auto;
    width: 400px;
}

h1 {
    color: maroon;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    text-indent: 25px;
}